version: '3.8'

services:
  ubuntu-automation:
    image: ghcr.io/workerspages/ubuntu-automation:main
  # image: yesyunxin/ubuntu-automation:main
    container_name: ubuntu-automation
    ports:
      - "5000:5000"
      - "5901:5901"
      - "6901:6901"
    environment:
      - VNC_PW=admin
      - SECRET_KEY=admin
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
      - TELEGRAM_BOT_TOKEN=12345678:abcdabcdabcdabcdabcdabcd
      - TELEGRAM_CHAT_ID=-12345678
      - ENABLE_CLOUDFLARE_TUNNEL=true
      - CLOUDFLARE_TUNNEL_TOKEN=<token>
      - DISPLAY=:1
    volumes:
      #- ./data:/app/data
       - ./Downloads:/home/headless/Downloads
      #- ./firefox-profile:/home/headless/.mozilla
    restart: unless-stopped
    shm_size: '2gb'
